@{
    ViewData["Title"] = "Home Page";
}

<style>

    body, html {
        height: 100%;
        font-family: "Inconsolata", sans-serif;
    }
    .bgimg {
        background-position: center;
        background-size: cover;
        background-image: url("~/img/CakeBG.jpg");
        min-height: 35%;
                
           }

    </style >
    
<header class="bgimg" id="home">
    <img src="~/img/CakeBG.jpg" />
</header>

<div class="text-left mt-5 px-5">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="display-4">Welcome</h1>
            <p>
                This is a home page to start your jorney. 
                <br>
                Click Make Order to order the item.
                <br>
                if you want to cancel order, go to View Order then select your order to cancel.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1"><a asp-controller="OrderDetails" asp-action="Create" class="btn btn-info">Make Order Now</a></div>
        <div class="col-sm-1"><a asp-controller="OrderDetails" asp-action="Index" class="btn btn-info">View Orders</a></div>
        <div class="col-sm-10"></div>
    </div>

</div>