@model IEnumerable<ISAD251WebApp.Models.OrderDetails>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="OrderDetails1" asp-action="Index">
      <p>
          ID : <input type="text" name="SerchString">
          <input type="submit" value="Filter" />
          </p>
    </form>
<table class="table">
    
</table>
